[Unit]
Description=met.ie forecast scraper

[Container]
Environment=PHX_HOST=localhost DATABASE_URL=/app/db/metie.db SECRET_KEY_BASE="+k/k26LU3cXDxWXQcfWbOvK9SaeUdZvk9SnZWTJNgA7d/XnQ5B8lvBdCtTYpXk8o"
Image=docker.io/alexandrupricinoc/metie:latest
PublishPort=4000:4000
Volume=metie:/app/db

[Service]
Restart=on-failure:1

[Install]
WantedBy=default.target
